{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 600,
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": [
        "prettier-plugin-go-template"
    ]
}