{% extends 'layout.html' %} 

{% block title %}Dashboard{% endblock %} 


{% block content %}

<h4>Dashboard</h4>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Pin</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Relay 01</td>
            <td>23</td>
            <td>
                <img src="{{ url_for('static', filename='img/bulb_off.png') }}" height="30px" />
            </td>
            <td>
                <a href=""><img src="{{ url_for('static', filename='img/switch-on.png') }}" height="30px" /></a> 
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Relay 02</td>
            <td>24</td>
            <td>
                <img src="{{ url_for('static', filename='img/bulb_on.png') }}" height="30px" />
            </td>
            <td>
                <a href=""><img src="{{ url_for('static', filename='img/switch-off.png') }}" height="30" /></a>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
