{% extends 'layout.html' %} 

{% block title %}Dashboard{% endblock %} 


{% block content %}

<div class="db-card mb-3 shadow">
<h4>
    <i class="fa fa-bolt text-warning" aria-hidden="true"></i> - Switch Pins
</h4>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Pin</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for pin in pins %}
            <tr>
                <th scope="row">{{ loop.index}}</th>
                <td>{{ pin.name }}</td>
                <td>
                    <span class="badge rounded-pill bg-danger">{{ pin.gpio }}</span>
                </td>
                <td>
                    {% if pin_status[pin.gpio] == 'off' %}
                        <img src="{{ url_for('static', filename='img/bulb_off.png') }}" height="30px" title="Relay is off" alt="Off"/>
                    {% elif pin_status[pin.gpio] == 'on' %}
                        <img src="{{ url_for('static', filename='img/bulb_on.png') }}" height="30px" title="Relay is on" alt="On"/>
                    {% endif %}
                </td>
                <td>
                    {% if pin_status[pin.gpio] == 'off' %}
                        <a href="{{ url_for('relay', pin=pin.gpio, status='on') }}"><img src="{{ url_for('static', filename='img/switch-on.png') }}" height="30px" title="Click to on" alt="switch on"/></a> 
                    {% elif pin_status[pin.gpio] == 'on' %}
                        <a href="{{ url_for('relay', pin=pin.gpio, status='off') }}"><img src="{{ url_for('static', filename='img/switch-off.png') }}" height="30px" title="Click to off" alt="switch off"/></a> 
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="db-card mt-50 shadow">
    <h4>
        <i class="fa fa-clock-o text-warning" aria-hidden="true"></i> - Action logs
    </h4>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">GPIO</th>
                <th scope="col">Pin Name</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{log.pin_number}}</td>
                    <td>{{log.pin_name}}</td>
                    <td>{{log.name}}</td>
                    <td>{{log.username}}</td>
                    <td>{{log.role}}</td>
                    <td>
                        {% if log.action == 'on'%}
                            <span class="badge rounded-pill bg-warning text-dark">{{ log.action }}</span>
                        {% else %}
                            <span class="badge rounded-pill bg-dark">{{ log.action }}</span>
                        {% endif %}
                    </td>
                    <td>{{log.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            {% if log_len >= 5 %}
                <a href="{{ url_for('logs') }}" class="btn btn-sm btn-light float-end mb-3">Show more</a>
            {% endif %}
        </div>
        
    </div>
</div>

{% endblock %}
