{% extends 'layout.html' %} 

{% block title %}Dashboard{% endblock %} 


{% block content %}

<h4>Dashboard</h4>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Pin</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for pin in pins %}
            <tr>
                <th scope="row">{{ pin.id}}</th>
                <td>{{ pin.name }}</td>
                <td>{{ pin.gpio }}</td>
                <td>
                    {% if pin_status[pin.gpio] == 'off' %}
                        <img src="{{ url_for('static', filename='img/bulb_off.png') }}" height="30px" title="Relay is off" alt="Off"/>
                    {% elif pin_status[pin.gpio] == 'on' %}
                        <img src="{{ url_for('static', filename='img/bulb_on.png') }}" height="30px" title="Relay is on" alt="On"/>
                    {% endif %}
                </td>
                <td>
                    {% if pin_status[pin.gpio] == 'off' %}
                        <a href="{{ url_for('relay', pin=pin.gpio, status='on') }}"><img src="{{ url_for('static', filename='img/switch-on.png') }}" height="30px" title="Click to on" alt="switch on"/></a> 
                    {% elif pin_status[pin.gpio] == 'on' %}
                        <a href="{{ url_for('relay', pin=pin.gpio, status='off') }}"><img src="{{ url_for('static', filename='img/switch-off.png') }}" height="30px" title="Click to off" alt="switch off"/></a> 
                    {% endif %}
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
