<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <title>{% block title %}{% endblock %} - PiSwitch</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='assets/dist/css/bootstrap.min.css') }}" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
        
    </head>
    <body>
        <main>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mt-3 color" aria-label="Eleventh navbar example">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="PiSwitch" height="30px" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- <div class="collapse navbar-collapse" id="navbarsExample09">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Register</a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </nav>

                <div class="mt-3">
                    <div class="bg-light p-5 rounded color">
                        <div class="col-sm-4 mx-auto">{% block content %}{% endblock %}</div>
                    </div>
                </div>
            </div>
        </main>
        <script src="{{ url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
