{% extends 'layout.html' %} 

{% block title %}Add user{% endblock %} 


{% block content %}

<h4 class="mb-3">Add User</h4>

<form method="post" action="{{ url_for('add_user') }}" autocomplete="off">
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-6">
            <input type="text" name="username" class="form-control form-control-sm" id="user_name" value="" autocomplete="off" />
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" name="name" class="form-control form-control-sm" id="name" value="" autocomplete="new_name" />
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control form-control-sm" name="password" id="password" placeholder="Password" autocomplete="new_password"/>
        </div>
    </div>

    <div class="form-group row">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-6">
            <select class="form-select form-select-sm" name="role" id="role">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-6">
            <select class="form-select form-select-sm" name="status" id="status">
                <option value="active">Active</option>
                <option value="disable">Disable</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 text-right">
            <a href="{{url_for('users')}}" class="btn btn-sm btn-primary">Back</a>
            <button type="submit" class="btn btn-sm btn-warning">Save</button>
        </div>
    </div>
</form>

{% endblock %}
