{% extends 'layout.html' %} 

{% block title %}Edit user{% endblock %} 


{% block content %}

<h4 class="mb-3">Edit User</h4>

<form method="post" action="{{ url_for('add_user') }}" autocomplete="off">
    <input type="hidden" name="id" class="form-control form-control-sm" id="id" value="{{ user.id }}" />
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-6">
            <input type="text" name="username" class="form-control form-control-sm" id="username" value="{{user.username}}" autocomplete="new_username" />
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" name="name" class="form-control form-control-sm" id="name" value="{{ user.name }}" autocomplete="new_name" />
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control form-control-sm" name="password" id="password" placeholder="Password" autocomplete="new_password"/>
        </div>
    </div>

    <div class="form-group row">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-6">
            <select class="form-select form-select-sm" name="role" id="role">
                <option {% if user.role == 'admin'%} selected {% endif %} value="admin">Admin</option>
                <option {% if user.role == 'user'%} selected {% endif %} value="user">User</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-6">
            <select class="form-select form-select-sm" name="status" id="status">
                <option  {% if user.role == 'active'%} selected {% endif %} value="active">Active</option>
                <option  {% if user.role == 'disable'%} selected {% endif %} value="disable">Disable</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8 text-right">
            <a href="users.html" class="btn btn-sm btn-primary">Back</a>
            <button type="submit" class="btn btn-sm btn-warning">Save</button>
        </div>
    </div>
</form>

{% endblock %}
